<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>Prompt 管理系統</title>
    <!-- Bootstrap 樣式 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTMX -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.12"></script>
</head>
<body class="bg-light">

    <div class="container mt-5">
        <h1 class="mb-4">Prompt-Management-Assistant</h1>

        <!-- 新增表單 -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">測試</h5>

                <button id="load-btn" class="btn btn-secondary mb-3">
                    顯示資料
                </button>

                <div id="display_result">
                    
                </div>
            </div>
        </div>

    </div>
<script>
    const btn = document.querySelector('#load-btn')
    
    btn.addEventListener('click', () =>{
            fetch('/get_all_prompts')
                .then(res => res.json())   // then完成後會直接給下個then 變數是拋棄式的
                .then(data =>{
                    const rows = data.data;
                    const display_result = document.querySelector('#display_result');
                    console.log(data);

                    let html = "";
                    rows.forEach(item => {

                        html +=`
                        <div class="card mb-2 p-2" style="border: 1px solid #ccc;">
                            <strong>ID: ${item.id}</strong> | 
                            <span>內容: ${item.prompt}</span> | 
                            <small>分類: ${item.prompt_class}</small>
                        </div>
                    `;
                        
                    });

                    display_result.innerHTML = html;
                });

    });
</script>
</body>
</html>